<h2>
    Frequently Asked Questions</h2>
<button class="accordion"><strong>What is COVID-19?</strong></button>
<div class="panel">
    <p>COVID-19 is a disease caused by a virus called SARS-CoV-2. Most people with COVID-19 have mild symptoms, but some people can become severely ill. Although most people with COVID-19 get better within weeks of illness, some people experience post-COVID
        conditions. Post-COVID conditions are a wide range of new, returning, or ongoing health problems people can experience more than four weeks after first being infected with the virus that causes COVID-19. Older people and those who have certain
        underlying medical conditions are more likely to get severely ill from COVID-19. Vaccines against COVID-19 are safe and effective.</p>
</div><br>

<button class="accordion"><strong>How does the virus spread?</strong></button>
<div class="panel">
    <p>COVID-19 is thought to spread mainly through close contact from person to person, including between people who are physically near each other (within about 6 feet). People who are infected but do not show symptoms can also spread the virus to others.
        Cases of reinfection with COVID-19 have been reported but are rare. We are still learning about how the virus spreads and the severity of illness it causes. COVID-19 spreads very easily from person to person. How easily a virus spreads from person
        to person can vary. The virus that causes COVID-19 appears to spread more efficiently than influenza but not as efficiently as measles, which is among the most contagious viruses known to affect people. For more information about how COVID-19
        spreads, visit the How COVID-19 Spreads page to learn how COVID-19 spreads and how to protect yourself. </p>
</div><br>

<button class="accordion"><strong>Am I at risk for COVID-19 from mail, packages or products?</strong></button>
<div class="panel">
    <p>Coronaviruses are thought to be spread most often by respiratory droplets. Although the virus can survive for a short period on some surfaces, it is unlikely to be spread from domestic or international mail, products, or packaging. However, it may
        be possible that people can get COVID-19 by touching a surface or object that has the virus on it and then touching their own mouth, nose, or possibly their eyes, but this is not thought to be the main way the virus spreads.</p>
</div><br>

<button class="accordion"><strong>Can mosquitoes or ticks spread the virus that causes COVID-19?</strong></button>
<div class="panel">
    <p>At this time, CDC has no data to suggest that this new coronavirus or other similar coronaviruses are spread by mosquitoes or ticks. The main way that COVID-19 spreads is from person to person. See How Coronavirus Spreads for more information.</p>
</div><br>

<button class="accordion"><strong>How can I protect myself?</strong></button>
<div class="panel">
    <p>Visit the How to Protect Yourself & Others page to learn about how to protect yourself from respiratory illnesses, like COVID-19.</p>
</div><br>

<button class="accordion"><strong>Should I use soap and water or hand sanitizer to protect against COVID-19?</strong></button>
<div class="panel">
    <p>Handwashing is one of the best ways to protect yourself and your family from getting sick. Wash your hands often with soap and water for at least 20 seconds, especially after blowing your nose, coughing, or sneezing; going to the bathroom; and before
        eating or preparing food. If soap and water are not readily available, use an alcohol-based hand sanitizer with at least 60% alcohol.</p>
</div><br>

<button class="accordion"><strong>Can Robots Improve Testing Capacity for SARS-CoV-2?</strong></button>
<div class="panel">
    <p>There is currently increasing interest internationally in deploying robotic applications for severe acute respiratory syndrome coronavirus 2 (SARS-CoV-2) testing, as these can help to reduce the risk of transmission of the virus to health care staff
        and patients. We provide an overview of key recent developments in this area. We argue that, although there is some potential for deploying robots to help with SARS-CoV-2 testing, the potential of patient-facing applications is likely to be limited.
        This is due to the high costs associated with patient-facing functionality, and risks of potentially adverse impacts on health care staff work practices and patient interactions. In contrast, back-end laboratory-based robots dealing with sample
        extraction and amplification, that effectively integrate with established processes, software, and interfaces to process samples, are much more likely to result in safety and efficiency gains. Consideration should therefore be given to deploying
        these at scale.</p>
</div><br>

<button class="accordion"><strong>What should I do if I get sick or someone in my house gets sick?</strong></button>
<div class="panel">
    <p>Most people who get COVID-19 will be able to recover at home. /coronavirus/2019-ncov/if-you-are-sick/index.html for people who are recovering at home and their caregivers, including: Stay home when you are sick, except to get medical care.https://www.cdc.gov/coronavirus/2019-ncov/hcp/guidance-prevent-spread.htmlCDC
        has directions If you have COVID-19, tell your close contacts so that they can quarantine at home and get tested. Use a separate room and bathroom for sick household members (if possible). The person who is sick should isolate. Learn when and
        how to isolate. Wash your hands often with soap and water for at least 20 seconds, especially after blowing your nose, coughing, or sneezing; going to the bathroom; and before eating or preparing food. If soap and water are not readily available,
        use an alcohol-based hand sanitizer with at least 60% alcohol. Always wash hands with soap and water if hands are visibly dirty. The person who is sick should wear a mask when they are around other people at home. They do not need to wear a mask
        if they are alone. Clean the sick room and bathroom, as needed, to avoid unnecessary contact with the sick person. However, some people may need emergency medical attention. Watch for symptoms and learn when to seek emergency medical attention.
        Call 911 or call ahead to your local emergency facility: Notify the operator that you are seeking care for someone who has or may have COVID-19.</p>
</div><br>
<button type="button" class="btn btn-primary" routerLink="">Back</button>