html,
body,
h1,
h2,
h3,
h4 {
    font-family: "Lato", sans-serif
}

.mySlides {
    display: none
}

.header {
    background-color: #00aaff;
}

.specifics {
    background-color: #b3ecff;
}

.blue {
    background-color: #99ddff;
}

.light-blue {
    background-color: #cce6ff;
}

.dark-blue {
    background-color: #00aaff;
}

.blue-specifics {
    background-color: #4dc3ff;
}

.w3-tag,
.fa {
    cursor: pointer
}

.w3-tag {
    height: 15px;
    width: 15px;
    padding: 0;
    margin-top: 6px
}